body{
    font-family: 'Poppins', sans-serif;
    color: maroon;
}

.container{
    display: flex;
}

h1{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-left: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
}

header{
    background-color: khaki;
    height: 100vh;
    margin-right: 20px;
}

ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

ul li{
    background-color: orange;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 40px;
}

ul li a{
    text-decoration: none;
    font-weight: bold;
    color: maroon;
}

ul li:nth-of-type(3) a{
    display: flex;
    align-items: center;
}

ul img{
    max-width: 50px;
    margin-right: 1rem;
}

.card-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.card{
    background-color: khaki;
    border-radius: 30px;
    width: 20%;
    height: auto;
}

.card img{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 100%;
}

.card-bold{
    font-weight: bold;
    padding: 5px;
}

.testo-card{
    display: flex;
}

.ita{
    font-size: 13px;
    padding: 5px;
}

.price{
    text-align: end;
    align-self: center;
    padding: 5px;
    width: 50%;
}

h2{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-left: 25px;
    margin-bottom: 25px;
}

h3{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

.descrizione{
    width: 90%;
    margin-left: 25px;
    background-color: khaki;
    padding: 30px;
}

.lorem{
    line-height: 1.5;
}

.descrizione img{
    margin-top: 30px;
    width: 100%;
}

.add{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: fit-content;
    border-radius: 30px;
    background-color: orange;
}

.btn{
    text-decoration: none;
    font-weight: bold;
    color: maroon;
}



